.App {
  text-align: center;
}


.App table{
  width: 50vw;
  height: auto;
}

.App button{
  width: 100%;
  height: 50px;
}

.App td {
  width: 100rem;
}

.App input[type="text"]{
  width: 100%;
  height: 25px;
}